.volunteer {
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.volunteer a {
    text-decoration: none;
    color: black;
}

.volunteer a:hover {
    background-color: lightgray;
    border-radius: 2px;
}

.list {
    margin-bottom: 5px;
}

.Collapsible {
    width: 18rem;
    padding: 10px;
}

.Collapsible__trigger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 24px;
    font-weight: bold;
}

.Collapsible__contentInner {
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    width: 50px;
    height: 5rem;
}