.volunteer {
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.volunteer a {
    text-decoration: none;
    color: black;
    padding: 5px
}

.volunteer a:hover {
    background-color: lightgray;
    border-radius: 2px;
}

.list {
    margin-bottom: 10px;
}