.landing-summary {
    margin: auto;
    max-width: 300px;
    padding: 8px;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    background-color: #E9CC3A;
}

button {
    display: flex;
    margin: auto;
}

