* {
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 8px;
    font-size:16px;
}

.notes-content {
    height: 13rem;
}

.edit {
    display: flex;
    flex-direction: column;
}

label, h2 {
    color: #E9CC3A;
    font-weight: bold;
}


.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

